{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tendencia</title>
        <link rel="stylesheet" href={% static 'style.css' %}>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <header>
            <div class="back">
                <div class="menu container">
                    <a href="#" class="logo">MOVILDATACO</a>
                    <input type="checkbox" id="menu"/>
                    <label for="menu">
                        <img src="Images/menu.png" class="menu-icon" alt="">
                    </label>
                    <nav class="navbar">
                        <ul>
                            <li><a href="#">Estadísticas</a></li>
                            <li><a href="#">Sobre nosotros</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <a href="view_Historia"
           type="submit" class="bg-red-300 hover:bg-red-500 text-white font-bold py-2 px-4 border-b-4 border-red-400 hover:border-red-700 rounded my-5">Ver histórico</a>

        <a href="view_Tendencia"
           type="submit" class="bg-red-600 hover:bg-red-600 text-white font-bold py-2 px-4 border-b-4 border-red-800 hover:border-red-800 rounded my-5">Realizar tendencia</a>
        <div  class="form-content">
            <div>
                <input type="radio" name="plan"/><span>Plan Prepago</span>
            </div>
            <div>
                <input type="radio" name="plan"/><span>Plan Postpago</span>
            </div>
        </div>
        <div  class="form-content">
            <div>
                <span>Desde </span><input type="date" name="plan"/>
            </div>
            <div>
                <span>Hasta </span><input type="date" name="plan"/>
            </div>
        </div>
        <div  class="form-content">
            <div>
                <input type="checkbox" name="operador"/><span>CLARO</span>
            </div>
            <div>
                <input type="checkbox" name="operador"/><span>MOVISTAR</span>
            </div>
            <div>
                <input type="checkbox" name="operador"/><span>TIGO</span>
            </div>
            <div>
                <input type="checkbox" name="operador"/><span>ETB</span>
            </div>
            <div>
                <input type="checkbox" name="operador"/><span>WOM</span>
            </div>

            <button type="submit">Realizar consulta</button>
        </div>

        <h1>GRAFICA 1</h1>
        <p>probando xd</p>

        <button type="submit">Exportar en archivo excel</button>

    </body>
</html>